.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 604px;
  width: 412px;
  box-shadow: -1px 6px 10px -9px rgba(0, 0, 0, 0.67);
  margin: 10px;

  h2 {
    text-align: center;
    color: #323232;
  }

  > img {
    height: 250px;
    width: auto;
    margin: 25px 0 0 0;
  }

  p {
    display: flex;
    padding: 20px;
    font-size: 22px;
  }
}

.icon {
  max-width: 19px;
  padding: 0px 9px;
}
