.header-container {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 84px;
  background: white;
  box-shadow: -1px 6px 10px -9px rgba(0, 0, 0, 0.67);
  img {
    max-height: 73px;
    margin: 10px;
  }
}
